@tailwind base;
@tailwind components;
@tailwind utilities;



.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}